auth-database-dynamo/terraform.tfstate
auth-database-rds/terraform.tfstate
auth-database-dynamo/.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/windows_amd64/terraform-provider-aws_v4.67.0_x5.exe
auth-database-rds/.terraform.lock.hcl
auth-database-dynamo/.terraform.lock.hcl
auth-database-rds/terraform.tfstate.backup
auth-database-rds/.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/windows_amd64/terraform-provider-aws_v4.67.0_x5.exe
auth-database-dynamo/terraform.tfstate.backup
